In [1]:
import pandas as pd
import wikipedia
import requests
from bs4 import BeautifulSoup

In [2]:
link = "https://en.wikipedia.org/wiki/List_of_saints#Christian_saints_since_AD_300"

table=pd.read_html(link,header=0)[0] #Get the first table which is the list of saints
saints = list(table.Saint[1:,]) #Make a list out of saints, drop first, since there is inconsistency on header in pandas

In [3]:
#url = r'https://en.wikipedia.org/wiki/Category:Roman_Catholic_saints_by_nationality' 
#r = requests.get(url)
#r.text

In [53]:
saints[:10]

['Abakuh',
 'Abamun of Tarnut',
 'Abaskhayroun',
 'Abban of Magheranoidhe',
 'Abban of New Ross',
 'Abban the Hermit',
 'Abbo of Fleury',
 'Abdas of Susa',
 'Abel of Reims',
 'Saint Abib']

In [4]:
#Make URL for the saint
url1 = 'https://en.wikipedia.org/wiki/'
def get_url(saint_name):
    URL = url1+saint_name
    return URLs

In [5]:
#Find info box for the saint url
def find_box(URL):
    S = requests.Session()
    R = S.get(url=URL)
    wiki = BeautifulSoup(R.text,'html.parser')
    info_box = wiki.find('table',{'class':'infobox vcard'})
    return info_box

In [33]:
# Find the row with 'Born' information
def born(info_box):
    try:
        for tr in info_box.findAll('tr'):
            for string in tr.strings:
                if string == 'Born':
                    return (tr)
    except:
        pass
# a for a in info_box.findAll('tr') if a == b

In [16]:
#Make a list of url for saints
url_list=[]
for i in saints:
    url_list.append(get_url(i))

In [18]:
#Make a list of info_boxes
info_list=[]
for i in url_list:
    info_list.append(find_box(i))

In [41]:
#Make a list of born sentences from info boxes for Saints
born_list = []
for i in info_list:
    born_list.append(born(i))

In [131]:
#Make a list of towns where saints were born
towns=[]
def get_towns(list_of_boxes):
    for box in info_list:
        try:
            for string in born(box).find('a').strings:
                        towns.append(string)
        except:
            pass

In [134]:
len(towns)

450

In [136]:
#Export list of towns as a csv
import csv

with open('towns.csv', 'w') as myfile:
    wr = csv.writer(myfile, quoting=csv.QUOTE_ALL)
    wr.writerow(towns)

In [184]:
#Make df of saint, with count of each town appearance
towns_df = pd.DataFrame(towns,columns=['town'])
towns_df['size'] = 1

In [188]:
#Make a count of appearances of each city/country
#Drop rows with wrong values
towns_df = (towns_df
            .groupby(['town']).count().reset_index())
towns_df = towns_df[~towns_df['town'].isin(['c','c.','ca','[1]','AD','citation needed','ca.'])]

In [196]:
towns_df.sort_values(by=['size'],ascending=False)

                        town  size
0                     Abbach     1
221                    Osimo     1
229          Perth, Scotland     1
228                Passavant     1
227             Papal States     1
226                    Paola     1
225                Palestine     1
224                  Palermo     1
223                    Ovada     1
222      Ostrogothic Kingdom     1
220                  Orléans     1
1                    Alençon     1
219                 Orenburg     1
218                     Orbe     1
217                 Oltrarno     1
216                     O.S.     1
215                   Nursia     1
214                   Norway     1
213              Northumbria     1
212        North Governorate     1
230             Philadelphia     1
231                 Piacenza     1
232                  Picardy     1
233              Pietrelcina     1
250                  Rodsley     1
249               Roccasecca     1
248              Roccaporena     1
247                Ringerike     1
246                     Riga     1
245                    Riese     1
..                       ...   ...
93          Duchy of Spoleto     1
92           Duchy of Saxony     1
91         Duchy of Brittany     1
90                  Drepanum     1
89                   Domrémy     1
88                    Dieppe     1
87       Desenzano del Garda     1
86                     Deira     1
103                    Exmes     1
105        Fain-lès-Moutiers     1
124                   Gorkum     1
106  Faucon-de-Barcelonnette     1
123                     Goch     1
122                    Girga     1
121                Ginatilan     1
120                    Genoa     1
119             Genneperhuis     1
118                   Gartan     1
117                  Galatia     1
116                  Frusino     1
115                  Francia     1
114                   France     1
113     Fortress of Prilepac     1
112       Fontaine-lès-Dijon     1
111                 Florence     1
110        Fitzroy, Victoria     1
109                  Ferrara     1
108                   Fayyum     1
107                 Faughart     1
336             Ōmura Domain     1

[336 rows x 2 columns]

In [177]:
towns_df.head()

    town  size
0  False  True
1   True  True
2   True  True
3   True  True
4   True  True

In [ ]:
df = df[~df['date'].isin(a)]